#ifndef LAUNDRYNOTIFICATION_USERSETTINGS_H
#define LAUNDRYNOTIFICATION_USERSETTINGS_H


#define BLYNK_AUTH "YOUR-BLYNK-API-AUTH-KEY"
#define WIFI_SSID "YOUR-WIFI-SSID"
#define WIFI_PASSWORD "YOUR-WIFI-PASSWORD"



#endif
